<html>
  <body>
    <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-xs-3">
            <h1>Editing Book</h1>
              <% if @book.errors.any? %>
            <h1>error</h1>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              <% end %>
            <%= form_with model: @book, local:true do |f| %>
            <div class="box">
              <label for="book_title">Title</label>
              <%= f.text_field :title %>
            </div>
            <div class="box">
              <label for="book_body">Opinion</label>
                <%= f.text_area :body %>
            </div>
            <div class="box">
              <%= f.submit 'Update Book' %>
            </div>
            <div class="text">
             <%= link_to 'Show', book_path(@book.id),class: 'btn-primary mr-3' %>
              |
            <a class="back" href="/books">Back</a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </body>
 </html>